body {
  background-color: darkslategrey;
  color: navajowhite;
  font-family: futura;
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0%;
}

.column{
  display: inline-block;
}



li{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 3%;
  width: auto;
  color: hotpink;
  font-family: futura;
  font-size: 12px;
  background-color: navajowhite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;

}

#header{
  text-align: center;
  margin: 3%;
  font-size: 30px;
}

img{
  height: 160px;
  width: auto;
}

#head {
  height:190px;
  width:auto;
}

#left-page-column{
  width: 20%;
  text-align: center;
  float: left;
}

#center-section{
  width: 60%;
  text-align: center;
}

#right-page-column{
  width: 20%;
  text-align: center;
float: right;
}

h1{
  margin: 0;
  display: inline-block;
}

h1 img{
  height: 100px;
  width: auto;
  display: inline-block;
}

p {
  font-size: 14px;
}

h2 {
  border: 1px dotted navajowhite;
}

.board-row{
display: block;
text-align: center;
top: auto;
}

.box{
  display: inline-block;
  width: 160px;
  height:160px;
  border: 2px solid hotpink;
  text-align: center;
  overflow: hidden;
  font-size: 100px;
}
