body {
  background-color: darkslategrey;
  color: navajowhite;
  font-family: futura;
  font-weight: lighter;
}

.column{
  display: inline-block;
}

#header{
  text-align: center;
}

#left-page-column{
  width: 20%;

}

#center-section{
  width: 60%;

}

#right-page-column{
  width: 20%;

}




.board-row{
display: block;
text-align: center;
top: auto;
}

.box{
  display: inline-block;
  width: 175px;
  height:175px;
  border: 2px solid hotpink;
  text-align: center;
  overflow: hidden;
}
