body {
  background-color: darkslategrey;
  color: navajowhite;
  font-family: futura;
  font-weight: lighter;
}


#contents{
  width: 100%;
  align-items: center;
  display: inline-block;

}

#left-page-column{
    width: 100px;
    font-size: 15px;
}


#header{
  text-align: center;
}


#game-board{
  display: inline-block;
}

.column{
display: inline-block;
text-align: center;
top: auto;
}

.inner-column{
  display: inline-block;
}

.box{
  width: 100px;
  height:100px;
  border: 2px solid hotpink;
  text-align: center;
}
